@{
    ViewData["Title"] = "API Call";
}


<div class="text-center">
    <h1 class="display-4">Pokemon Search</h1>
    <form asp-controller="Home" asp-action="API_Call" method="post">
        <input type="text" id="pokeName" name="pokeName" placeholder="Enter a pokemon name..." value=="Form["FirstName"]"/>
    </form>

   <div>
       @if(Model != null) {
            <h4> @Model.pokemonName </h4>
            <img src="@Model.pokemonImgSrc" />
        }
    </div>

</div>
